<div fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex.lt-lg="auto" fxFlex="80%">


        <button mat-fab color="primary" (click)="addReservation()" class="fab_action" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>