<div fxLayout="row" fxLayoutAlign="space-around center">
    <form fxLayout="column" fxLayoutGap="20px" fxFlex="90%">

        <h1 mat-dialog-title>Nova Reserva</h1>

        <div fxLayout="row">
            <mat-form-field fxFlexFill>

                <mat-label>Equipamento</mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field>
                <mat-label>Data da Reserva</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <button type="button" mat-raised-button color="primary">Salvar</button>
            <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>